.myGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "myHeader myHeader myHeader"
    "sidenav content content";
}

header {
    grid-area: myHeader;
    padding: 36px;
    background-color: deeppink;
}
nav {
    grid-area: sidenav;
    padding: 36px;
    background-color: darkorange;
}
main {
    padding: 36px;
    grid-area: content;
}

@media screen and (max-width: 480px) {
    .myGrid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "myHeader"
        "sidenav"
        "content";
    }
    header, nav, main {
        padding: 18px;
    }
    header, nav {
        text-align: center;
    }
    header h1 {
        font-size: 24px;
        margin: 0;
    }
}