body {
    text-align: center;
}

/*
    This is an example of using transition properties individually
*/
#text_with_transition {
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
#text_with_transition:hover {
    color: aqua;
}

/*
    This is an example of using the transition shorthand property
*/
#box {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* 
        using the transition shorthand property,
        we can register multiple properties at once, 
        along with the duration of each property to transition
    */
    transition:
    background-color 2s,
    border-radius 2s;
}
#box:hover {
    background-color: coral;
    border-radius: 50%;
}

/*
    We can do lots of fun animations/transitions with the transform property.
    We can scale, rotate, and translate, as well as only transform along
    specific axes, like translateX, scaleY, etc.
*/
img {
    width: 200px;
    transition: transform 1s;
}
img:hover {
    transform: scale(3) rotate(360deg);
}