* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #FFC898;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 25px 20px;
}

nav ul li a {
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#first-line {
    width: 85%;
    margin: 10px auto;
    border: none;
    border-bottom: 3px solid #B8C0FF;
}

section {
    width: 85%;
    margin: 0 auto;
}
div.card {
    display: inline-block;
    background-color: #B8C0FF;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 393px;
}

div img {
    width: 100%;
}

div#img-contain {
    width: 200px;
    float: left;
    margin-right: 25px;
    border: 2px solid black;
}

