* { /* The star symbol selector targets every element in the HTML, making it great for creating 'resets' which are how we remove pre-existing styles that the browser automatically applies to elements */
    margin: 0;
    padding: 0;
    /* The styles above removes the default margin and padding that browsers apply to elements. This makes it easier to set our own spacing.*/
    box-sizing: border-box;
    /* The box-sizing by default is set to content-box, which will cause children to overflow/extend/grow beyond their parent/container when they become too large.
    Setting it to border-box will keep the children contained within their parent/container because it will factor in border and padding values unlike the above. */
}
/*
Table of Contents
    1. Margin and Padding 
    2. CSS Selectors (the many ways to target html elements with CSS) 
    3. IDs vs Classes and when to use them 
    4. Memorising div Placements 
    5. Flex-Grow, Flex-Shrink, Flex-Basis and Flex
 */
/* 1. Margin vs Padding */
/*
    Margin is the spacing around the outer layer of an element, outside of the border. It controls the spacing between elements that are adjacent to the element it is applied to.
    
    Padding is the spacing inside of an element, within the border. It controls the spacing on the inside of an element and can control how close to the edges the elements inside of it are.

    Both padding and margin can be targetted individually or in shorthand.

    Adding -right, -left, -top, or -bottom to padding or margin will only affect the amount of spacing in that direction (i.e. margin-left: 20px; applies a left margin of 20px;)

    Using just margin or padding and then a value will create shorthand margin.
    1 value is top, left, bottom and right.
    2 values are top/bottom and left/right.
    3 values are top, left/right, bottom.
    4 values are top, right, bottom, left.
 */
 .margin-a {
    margin-right: 20px;
 }
 .margin-b {
    margin-left: 50px;
 }
 .padding {
    padding: 20px 10px;
 }
 .padding .margpad-box {
    margin-top: 20px;
    /* You can also use negative margin or padding as demonstrated below. */
    /* margin-top: -50px; */
 }
 .margin-center {
    margin: 30px auto 10px auto;
 }
 .margin-c {
    margin: 0 30px;
    display: inline-block;
    /*
    Display inline-block is used to allow other elements that are inline or inline-block sit next to this div. This demonstrates
    */
 }

/* 2. CSS Selectors (the many ways to target html elements with CSS)  */
#cs div {
    margin: 20px auto;
    width: 500px;
}
#id_selector {
    background-color: powderblue;
    margin: 0;
    width: 200px;
}
.best_divs {
    background-color: papayawhip;
    border: 1px solid black;
    padding: 20px;
}
.coolors {
    border-color: red;
    background-color: grey;
    color: white;
}
#cs [href] {
    color: black;
    font-family: cursive;
    margin: 20px auto;
    background-color: pink;
    display: inline-block;
}
#cs input[type=submit] {
    background-color: teal;
    color: white;
    font-size: 2rem;
}
#cs section p {
    margin: 20px auto;
    width: 300px;
    font-size: 1.5rem;
}
/* Below are three different ways to target siblings without classes or ids */
#cs section p + p {
    color: purple;
    text-decoration: underline;
}
#cs section p:last-of-type {
    font-size: 1rem;
}
#cs section p:nth-of-type(2) {
    letter-spacing: .5rem;
}
#cs section a {
    transition: all .5s;
}
#cs section a:hover {
    border: 2px solid black;
    padding: 2rem;
    background-color: powderblue;
}
#cs section input:focus-within {
    background-color: green;
    color: white;
}
#cs section input:active {
    background-color: pink;
}

/* 3. Flex, Flex-Basis, and Flex-Grow  */
.grow p:first-child {
    flex-grow: 1;
}
.shrink p {
   width: 50%;
}
.shrink p:first-child {
    flex-shrink: 5;
}
.basis {
    flex-wrap: wrap;
}
.basis p:first-child {
    flex-basis: 100%;
}
/*
    Flex is shorthand for flex-grow, flex-shrink, and flex-basis.
    1st value is flex-grow
    2nd value is flex-shrink
    3rd value is flex-basis

    If you use two value Flex
    1st value is flex-grow
    2nd value is either your flex-shrink or flex-basis
    Flex-basis requires a unit to activate. Without a unit, the value defaults to flex-shrink.

    One value Flex is either Flex-Grow or Flex-Basis if a unit is involved.
 */
.shorthand p:first-child {
    flex: 2;
    transition: all .5s;
}
.shorthand p:last-child {
    flex: 5;
}
.shorthand p:first-child:hover {
    flex: 8;
}

/* ---- */
/* ---- */

/* THE STYLES BELOW ARE IRRELEVANT TO THE REFRESHER */
/* Irrelevant Nav and General Styles */
section {
    border: 2px solid #1a1a1a;
    margin: 1.5rem auto;
}
main section:first-of-type {
    margin-top: 3rem;
}
main section:last-of-type {
    margin-bottom: 3rem;
}
body {
    background-color: #efefef;
    display: flex;
    flex-flow: column wrap;
}
main {
    order: 2;
    max-width: 1200px;
    margin: 0 auto;
}
nav, footer {
    width: 100vw;
    background-color: #1a1a1a;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin: 0 auto;
}
nav {
    order: 1;
}
footer {
    order: 4;
    background-color: grey;
}
nav a, footer a {
    color: #efefef;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: .5rem;
    border-bottom: 2px solid #1a1a1a;
    transition: all .5s;
}
footer a {
    border-color: grey;
}
nav a:hover, footer a:hover {
    color: aqua;
    border-bottom: 2px solid aqua;
    font-size: 1.25rem;
}
h3 {
    color: #efefef;
    background-color: grey;
    padding-left: 1rem;
    font-size: 2rem;
    margin: 0 auto;
    order: 3;
    width: 100vw;
}
html {
    scroll-behavior: smooth;
  }
/* irrelevant margin vs padding styles */
#mvp .mvp-container {
    border: 2px solid purple;
    display: flex;
    justify-content: center;
}
#mvp .mvp-container-2 {
    border: 2px solid blue;
}
.mvp-container .margin-a {
    background-color: palegreen;
    width: 30%;
}
.mvp-container .padding {
    background-color: paleturquoise;
    width: 30%;
}
.padding .margpad-box {
    background-color: peachpuff;
    width: 50%;
}
.mvp-container .margin-b {
    background-color: palegoldenrod;
    width: 30%;
}
.margin-center {
    background-color: pink;
    width: 50%;
}
.margin-c {
    background-color: lightsalmon;
    width: 50%;
}
/* irrelevant css selectors styles */
input {
    padding: 20px;
}

/* irrelevant ids vs classes styles */
#ivc {
    padding: 1rem 0;
}
#ivc p, hr {
    max-width: 600px;
    padding-top: 1rem;
}
/* irrelevant memorizing div placements styles */
ul {
    list-style-position: inside;
    padding-left: 1rem;
    padding-top: .5rem;
}
ul li span {
    padding-left: .5rem;
}

/* irrelevant Flex-Grow, Flex-Shrink, Flex-Basis and Flex styles */
#fbg div {
    display: flex;
    margin: 25px auto;
}
#fbg div p {
    min-height: 200px;
    background-color: lightskyblue;
}
#fbg div p:first-of-type {
    background-color: lightcoral;
}
#fbg div p:last-of-type {
    background-color: lightgreen;
}

/* GET VS POST */
#gvp {
    padding: 10px;
}
#gvp p {
    max-width: 600px;
}
#gvp a {
    color: darkorchid;
    font-weight: 600;
    text-decoration: none;
    transition: all .5s;
}
#gvp a:hover {
    color: blue;
    font-size: 1.5rem;
}

/* bootstrap stuff */
#boot {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: 2rem;
}
#boot a {
    background-color: orange;
    padding: 1rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border: 3px solid orange;
    transition: all .5s;
}
#boot a:hover {
    background-color: rgb(255, 165, 0, .2);
    color: orange;
    backdrop-filter: blur(8px);
}