#div_1 {
    border: 5px solid purple;
}

#div_1:hover {
    background-color: skyblue;
}

#div_2 {
    border: 10px dashed forestgreen;
    padding: 24px;
    /* padding affects the space INSIDE the border */
}

#div_3 {
    border: 24px dotted crimson;
    padding: 36px;
    margin: 60px;
    /* margin affects the space outside of the border */
}

#div_4 {
    border: 2px solid blue;
    padding: 8px;
    margin: 24px;
    /* margin can overlap, but padding cannot */
}

#div_5 {
    /* you can also use hexadecimal colors */
    background-color: #222222;
    color: white;
}

#div_6 {
    border: 5px solid orange;
    /* you can target top, left, bottom, and right sides for margin and padding */
    padding-left: 48px;
    /*providing two values will set teh top/bottom first, and left/right second */
    margin: 50px 12px;
}

#div_7 {
    border: 2px solid green;
    padding: 20px 50px 40px 30px;
    margin: 20px 50px 40px 30px;
    /* You may also provide 4 values to margin and padding, the values are in this order: top, right, bottom, left */
}