header {
    background-color: teal;
    padding: 12px 48px;
}
#smallScreen, #mediumScreen, #largeScreen {
    padding: 48px;
}
footer {
    background-color: lavender;
    padding: 12px 48px;
}

/*
    The following styles will apply for screen widths
    greater than 800px
*/
@media screen and (min-width: 800px) {
    header {
        font-size: 36px;
    }
    #largeScreen {
        background-color: red;
        color: white;
    }
    #mediumScreen, #smallScreen {
        background-color: grey;
        color: grey;
    }
}

/*
    The following styles will apply for screen widths
    greater than 480px and less than 799px
    (or in other words, between 480px and 799px)
*/
@media screen and (min-width: 480px) and (max-width: 799px) {
    header {
        font-size: 24px;
    }
    #mediumScreen {
        background-color: darkgreen;
        color: white;
    }
    #largeScreen, #smallScreen {
        background-color: grey;
        color: pink;
    }
}

/*
    The following styles will apply for screen widths
    less than 479px
*/
@media screen and (max-width: 479px) {
    header {
        font-size: 16px;
    }
    #smallScreen {
        background-color: blue;
        color: white;
    }
    #mediumScreen, #largeScreen {
        background-color: grey;
        color: grey;
    }
    footer {
        display: none;
    }
}